<% const policy = 'policy' %>
<% const name = '書家 角田亮爾'%>
<!DOCTYPE html>
<html class="no-js" lang="ja">
    <%- include('./_partial/head', {meta: config.data.pageMeta[policy]}); %>
<body>
    <div class="line"></div>
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="bar"></div>
    <div class="top-content top-content-policy page-load">
        <h1 class="title">ポリシー</h1>
    </div>
        <%- include('./_partial/header') %>
        <div class="wrapper bg img3">
            <div class="content scroll-fadeup">
                <div class="content-title">    
                    <h2>プライバシーポリシー</h2>
                    <span>privacy policy</span>
                </div>
                <div class="policy-text">
                    <p><%- name %>は、個人情報の適正な取扱いに努めます。また、サービスもしくは商品を購入した場合、
                        プライバシーポリシーに同意したものとみなされますので、本内容をご理解ください。　<br>
                        本ポリシーは、どのような個人情報を取得し、どのように利用・共有するか、ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。
                    </p>
                    <h3>1.法令遵守について</h3>
                    <p><%- name %>は、個人情報に関する法令及びその他の規範を遵守します。</p>
                    <h3>2.個人情報の取り扱いについて</h3>
                    <p>
                        「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、本webサイトを通じ、皆様からご提供いただく
                         氏名、生年月日、住所、電話番号、連絡先、メールアドレスなどの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
                    </p>
                    <h3>3.個人情報の取得について</h3>
                    <p><%- name %>は、ご提供いただいた個人情報について下記目的の範囲内て適切に取り扱います。<br>
                       皆様が個人情報の提供をご希望されない場合には、ご自身のご判断により、このウェブサイトにおける特定ページのご利用をお控え下さい。 
                    </p>
                    <p>
                       （１）書作品及び付帯するサービスを提供するため <br>
                       （２）業務上必要な連絡をとらせていただくため <br>
                       （３）その他、サービスを適切かつ円滑に提供するため
                    </p>
                    <h3>4.個人情報の安全管理について</h3>
                    <p>
                        皆様からご提供頂いた個人情報を厳重に保管・管理し、第三者の不正なアクセスによる個人情報の漏洩・流用・改ざん等を防止するため、万全のセキュリティ対策を講じるものとします。
                    </p>
                    <h3>5.著作権の所有について</h3>
                    <p>当サイトにおける全てのコンテンツは、書家 角田亮爾が所有しているため、引用・転載を固く禁じます。</p>
                    <h3>商品の返品・交換について</h3>
                    <p>商品の発送には常に注意を払っておりますが、お届けした商品がご注文した商品と違った場合や、お届けした際に破損していた際は商品到着後8日以内にご連絡をお願いいたします。
                       送料を負担にて修正、もしくは交換を行います。
                    </p>
                    <h3>ご依頼のキャンセルについて</h3>
                    <p>制作に入りましたら、キャンセルはお受けでき兼ねますのでご了承ください。</p>
                    <h3>プライバシーポリシーの変更</h3>
                    <p>
                        1. 本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく，変更することができるものとします。 <br>
                        2. 別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。
                    </p>
                </div>
            </div>  
        </div>
        <%- include('./_partial/footer') %>
    </div>    
</body>
</html>